* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    background: rgb(44, 41, 41);
}

/* dashboard ui */

.navigation-control {    
    /* position: absolute;
    right: 10px;
    top: 20px; */
    margin-right: 5px;
    display: flex;
    transform: translateY(-3px);
}

.navigation-control input {
    background-color: #333131;
    border: 1px solid #333131;
    border-radius: 5px;
    padding: 5px 7px;
    outline: none;
    color: white;
    display: inline-block;
    font-size: 1em;
    width: 250px;
    margin-right: 5px;
    text-align: center;
}

.navigation-control button {
    padding: 00;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    display: inline-block;
    background-color: rgb(74, 70, 70);
}
.navigation-control button:active {
    background-color: rgb(95, 90, 90);
}
.navigation-control button:hover {
    cursor: pointer;
    filter: opacity(0.8);
}
.navigation-control button:before {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2em;
}